<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    {{$username := .MData.MyUser.Username}}
    {{template "menu" .MData.MyUser.Username}}

    <h2>Welcome, {{.MData.MyUser.Firstname}} {{.MData.MyUser.Lastname}}</h2>

    {{if .MData.MyUser.Firstname}}
        {{if .MData.VenueAll}}
            <h2>Venues booked by {{$username}}</h2>
            {{range .MData.VenueUser}}
                <li>Booked {{ .Type }} on {{.Date}} for {{.Capacity}} people. 
            {{end}}

            <hr>

            <h2>Book a venue (refer to "Available Venues")</h2>
            <form method="post">
                <input type="text" name="date" placeholder="Date"> e.g. 20201003 <br>
                <input type="text" name="venueType" placeholder="Venue Type"> e.g. Ballroom <br>
                <input type="text" name="capacity" placeholder="How many people"> e.g. 33 <br>
                <input type="submit">
            </form>
            
            <p style="color:red;">
                {{.ErrMsg}}
            </p>

            <h2>Available Venues</h2>
            {{range .MData.VenueUnbook}}
                <li>Booked {{ .Type }} on {{.Date}} for {{.Capacity}} people. 
            {{end}}
            
        {{else}}
            <h2>You have not made any bookings</h2>
        {{end}}
    {{else}}
    {{end}}
</body>
</html>