<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    {{template "menu" .MData.MyUser.Username}}
    <h2>Your name is currently {{.MData.MyUser.Firstname}} {{.MData.MyUser.Lastname}}</h2>
    <h2>Change your first name, last name</h2>
    <form method="post">
        <input type="text" name="firstname" placeholder="First Name"><br>
        <input type="text" name="lastname" placeholder="Last Name"><br>
    <input type="submit">
    </form>
    <p style="color:red;">
    {{.ErrorMessage}}
    </p>
</body>
</html>