<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove a Booking</title>
</head>
<body>
    {{$username := .MData.MyUser.Username}}
    {{template "menu"}}
    

    {{if .MData.VenueUser}}
        <h2>Bookings by you, username: {{$username}}</h2>
        {{range .MData.VenueUser}}
            <li>Booked {{ .Type }} on {{.Date}} for {{.Capacity}} people. 
        {{end}}

        {{if eq $username "admin"}}
            <h2>All bookings (including you and others). Only admin can see this.</h2>
            {{range .MData.VenueAll}}
                <li>Booked {{ .Type }} on {{.Date}} for {{.Capacity}} people. 
            {{end}}
        {{end}}
    {{else}}
    <h2>You have not made any bookings</h2>
    {{end}}

    <h2>Remove a Booking</h2>

    <form method="post">
        <input type="text" name="id" placeholder="Enter an ID"><br>
        <input type="submit">
    </form>
    
</body>
</html>