<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detailed Information</title>
</head>
<body>
    {{template "menu" .MData.MyUser.Username}}
    <h1>Welcome to the admin page</h1>

    <h2>List of usernames (Active + Inactive) </h2>
    {{range .UserList}}
        <li>{{ . }}</li>
    {{end}}


    <h2>List of Active Sessions/Users</h2>
    {{range .SessionList}}
        <li>{{.}}</li>
    {{end}}


    <h2>Delete a session</h2>
    <form method="post">
        <input type="text" name="userid" placeholder="Username"><br>
    <input type="submit">
    
    <p style="color:red;">
        {{.ErrMsg}}
    </p>


</body>
</html>