<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unbook a Venue</title>
</head>
<body>
    {{$username := .MData.MyUser.Username}}
    {{template "menu" .MData.MyUser.Username}}

    <h2>Unbook a Venue</h2>

    <form method="post">
        <input type="text" name="date" placeholder="Date"> e.g. 20201003 <br>
        <input type="text" name="venueType" placeholder="Venue Type"> e.g. Ballroom <br>
        <input type="text" name="capacity" placeholder="How many people"> e.g. 33 <br>
        <input type="submit">
    </form>

    <p style="color:red;">
        {{.ErrMsg}}
    </p>
    
    {{if .MData.VenueUser}}
    
        <h2>Bookings by you, username: {{$username}}</h2>
        {{range .MData.VenueUser}}
            <li>Booked {{ .Type }} on {{.Date}} for {{.Capacity}} people. 
        {{end}}

        {{if eq $username "admin"}}
            <h2>All bookings (including you and others). Only admin can see this.</h2>
            {{range .MData.VenueAll}}
                <li>Booked {{ .Type }} on {{.Date}} for {{.Capacity}} people. 
            {{end}}
        {{end}}
    {{else}}
    <h2>You have not made any bookings</h2>
    {{end}}

    
    
</body>
</html>