{{define "menu"}}
    <h2>Menu</h2>
        <ul>
            <li><a href="/">Add a Booking</a></li>
            <li><a href="/remove">Remove a Booking</a></li>
            <li><a href="/names">Change your name</a></li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/restricted">Restricted (admin only)</a></li>
        </ul>
{{end}}