<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove a Booking</title>
</head>
<body>
    {{$username := .MyUser.Username}}
    

    {{if .VenueNames}}
        <h2>Bookings by you, username: {{$username}}</h2>
        {{range .VenueUser}}
            <li>Booked {{.Capacity}} on {{.Date}}. Bookng ID is {{.ID}}</li>
        {{end}}

        {{if eq $username "admin"}}
            <h2>All bookings (including you and others). Only admin can see this.</h2>
            {{range .VenueAll}}
                <li>Booked {{.Capacity}} on {{.Date}}. Bookng ID is {{.ID}}</li>
            {{end}}
        {{end}}
    {{else}}
    <h2>You have not made any bookings</h2>
    {{end}}

    <h2>Remove a Booking</h2>

    <form method="post">
        <input type="text" name="id" placeholder="Enter an ID"><br>
        <input type="submit">
    </form>
    {{template "menu"}}
</body>
</html>